#control-screen-size {
    display: none;
}

@media screen and (min-width:650px) {
    #control-screen-bg {
        background-color: var(--yellow);
        position: absolute;
        top: 0;
        width: 1000vw;
        height: 1000vh;
        z-index: 98;
    }
    #control-screen-size {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        color: #3C1D1E;
        letter-spacing: -2px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }
    #control-screen-size span {
        font-size: 35px;
    }
    #control-screen-size i {
        font-size: 100px;
        margin: 20px 0 10px;
    }
    body {
        overflow: hidden;
}


/* 기존에 스크롤이 넘어가는 화면에서
컨트롤스크린 화면으로 넘어갈때 해당화면 밑으로 스크롤이 되면서
감춰진 부분이 보임. <- 고쳐야함 ㅠ */