.screen-header {
    background-color: white;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 25px;
    padding: 20px;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.screen-header__title {
    font-size: 25px;
    font-weight: 600;
}
.screen-header__icons > span {
    position: relative;
    margin-left: 20px;
}